.item{
    display: inline-block;
    
}
.abc{
  width: 48%;
  height: 170px;
}
.abcx{
    width: 48%;
  height: 170px;
}
.abcxz{
    width: 48%;
    height: 200px;
}
.abvcxz{
    width: 48%;
    height: 180px;
}
.asdfg{
width: 48%;
height: 50px;

}
.sjsj{
     display: inline-block;
}
    